body{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.img-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}